<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to home page!</h1>
    <form method="get" action="/thymeleafexample/hello">
        <input placeholder="Name" name="name" />
        <input placeholder="Surname" name="surname" />
        <br>
        <input type="submit" value="Send hello!">
    </form>
</body>
</html>